@media (max-width: 1200px){
    .hero__text {
    padding: 100px 50px;
  }

  .hero__title {
    font-size: 52px;
  }
  .team__list {
    max-width: 566px;
    gap: 52px;
  }

  .team__item {
    width: calc((100% - 52px) / 2);
  }
}

@media (max-width: 992px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 40px;
    overflow-y: auto;
    width: 80vw;
    height: 100svh;
    background: #fff;
    translate: -100% 0;
    visibility: hidden;
    transition: translate 0.3s, visibility 0.3s;
  }

  .nav--active {
    translate: 0;
    visibility: visible;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .burger {
    display: flex;
  }

  .hero {
    flex-direction: column;
  }

  .hero__text {
    width: 100%;
  }

  .hero__image {
    width: 100%;
  }

  .project__text {
    max-width: 230px;
  }

  .our-process__list {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    gap: 32px;
  }

  .our-process__item {
    width: 100%;
  }

  .clients__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .clients__logos {
    justify-content: flex-start;
  }

  .featured-projects__inner {
    padding: 20px;
  }

  .team__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .get-in-touch__content {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 120px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 14px;
  }

  .header__inner {
    gap: 20px;
  }

  .hero__text {
    padding: 40px 15px;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__descr {
    font-size: 14px;
  }

  .our-firm {
    padding: 40px 0;
  }

  .our-firm__inner {
    flex-direction: column;
    gap: 32px;
    padding: 0;
  }

  .project__text {
    inset: 0 !important;
    padding: 15px;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    translate: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .project__title {
    color: #fff;
  }

  .project__descr {
    color: #fff;
  }

  .our-process {
    padding: 40px 0;
  }

  .our-process__descr {
    font-size: 28px;
  }

  .clients__content {
    padding: 0;
    gap: 32px;
  }

  .clients__logos {
    gap: 52px;
  }

  .featured-projects {
    padding: 40px 0;
  }

  .featured-projects__title {
    font-size: 28px;
  }

  .featured-projects__descr {
    font-size: 16px;
  }

  .featured-projects__list {
    flex-wrap: wrap;
  }

  .featured-projects__item {
    width: 100%;
  }

  .team {
    padding: 40px 0;
  }

  .team__list {
    gap: 24px;
  }

  .team__item {
    width: 100%;
  }

  .get-in-touch__caption {
    font-size: 28px;
  }

  .get-in-touch {
    padding: 40px 0;
  }

  .footer {
    padding: 22px 0;
  }

  .footer__content {
    flex-direction: column;
    align-items: flex-start;
  }
}